.blocks
{
    display: flex;
    justify-content: center;
    padding: 0px 7rem;
    flex-direction: column;
    background-size: cover;
    /* background-color: black; */
    background: linear-gradient(to bottom, white,black,black,black,black,black,black,black,black,black,black,black, black);
}
.block
{
    border-radius: 20px;
    text-align: center;
    /* background-color: rgb(245, 248, 255); */
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    margin: 30px 50px;
    transition: transform 1s ease-in-out;
    color: white;
}
.block>h1
{
    font-size: 2.5rem;
}
.block>p
{
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
    color: #636262;
}

.decription-icon
{
    position: relative;
    top:8px;
    margin: 0px 20px;
}
.block:hover
{
    /* background-color: rgb(6, 6, 6); */
    transform: translateY(-10px);
    animation: firework-animation 1s ease-in-out 1;
    background-color: rgb(6, 6, 6);
}
.test
{
    height: 100px;
    background: url('../../public/back2.png');
    color: black;
}

@keyframes firework-animation {
    0%
    {
        background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Fogos_artificiais_-_Fuegos_artificiales_-_Fireworks_-_Santa_Minia_2014_-_Brion_-_Animacion_-_06.gif/640px-Fogos_artificiais_-_Fuegos_artificiales_-_Fireworks_-_Santa_Minia_2014_-_Brion_-_Animacion_-_06.gif');
    }
    100%
    {
        background-color: rgb(6, 6, 6);
    }
}

@media screen and (max-width: 1080px) {
    .blocks
    {
        padding: 0px 0rem;
    }
    .block
    {
        margin: 30px 10px;
        padding: 30px;
    }
  }
  @media screen and (max-width: 720px) {
    .blocks
    {
        padding: 0px 0rem;
    }
    .block
    {
        margin: 30px 10px;
        padding: 30px;
    }
    .block > h1{
        font-size: 2rem;
    }
    .block>p
    {
        font-size: 1rem;
    }
  }
  @media screen and (max-width: 480px) {
    .blocks
    {
        padding: 0px 0rem;
    }
    .block
    {
        margin: 30px 10px;
        padding: 10px;
    }
    .block > h1{
        font-size: 1.8rem;
    }
    .block>p
    {
        font-size: 1rem;
    }
  }
  @media screen and (max-width: 360px) {
    .block
    {
        margin: 30px 0px !important;
        padding: 20px !important;
        width: 100vw;
    }
    .block > h1{
        font-size: 1.7rem;
    }
    .block>p
    {
        font-size: .9rem;
    }
  }