.hero-section
{
    height: 70vh;
    background: linear-gradient(to bottom, black,black, white);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
}
.hero-section > .left-part> .sub-text
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    font-size: 25px;
}
.hero-section > .left-part
{
    padding:0px 32px;
    width: 50%;
}
.hero-section > .right-part
{
    /* background: url('../../public/back1.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.hero-section > .left-part > h1
{
    font-size: 50px;
    line-height: 75px;
}

.hero-img
{
    height: 350px;
    z-index: 100;
}

.explore-car-btn
{
    margin-top:20px;
}